@import "../../base/colors";
form {
    width: 90%;
    max-width: 300px;
    background-color:$white;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: $dark;
        margin-bottom: 26px
    }
}

.form-group {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}